.preview-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preview {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #ddd;
  box-shadow: -1px 10px 32px -11px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: -1px 10px 32px -11px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: -1px 10px 32px -11px rgba(0, 0, 0, 0.98);
}
.img-preview img {
  height: 100%;
  width: 100%;
}

.cropper-canvas {
  position: relative;
}

.profile-pic-upload-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-pic-upload-btn button {
  width: 100%;
}
