.friends-wrapper {
  background-color: #fff;
  border-radius: 6px;
}

.friends-header {
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
}

.friends-header svg {
  margin: 5px 10px;
  fill: #181818;
  width: 20px;
  height: 20px;
}

.friends-header h3 {
  font-size: 16px;
  font-family: var(--Barlow);
  font-weight: var(--semibold);
  text-transform: uppercase;
  color: #181818;
}

.friends-user-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friends-user {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
}

.friends-user-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.friends-user-name {
  margin-left: 20px;
}

.friends-user-name h4 {
  font-size: 18px;
  font-family: var(--Barlow);
  font-weight: var(--semibold);
  color: #181818;
}

.friends-user-name p {
  font-size: 16px;
  font-family: var(--Barlow);
  font-weight: var(--regular);
  color: #181818;
}

.friends-user-option {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
  margin-right: 10px;
}

.friends-user-option:hover {
  background-color: #f4f4f4;
}

.friends-user-option:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
